mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#portfolio") Portfolio
    li: a(href="#projects") Projects
    li: a(href="#social") Social
    li: a(href="#contact") Contact


.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo dk

    nav.site-nav
      +nav-content()

    a(href="mailto:dietrich.kriworotow@gmail.com").email-link +email me

    .mobile-nav-toggle
      span
