section.home-contact#contact
  .flex.flex--center
    .col-2
      p.lead Contact me with your project ideas...

      .notes-signup-box (form)

  .flex.flex--center
    .col-1
      p Kurzer Paragraph

    .col-1
      p Ein anderer kurzer Paragraph
      ul
        li <a href="">Bla bla bla</a>
        li <a href="">Bla bla bla</a>
        li <a href="">Bla bla bla</a>
