section.portfolio#portfolio
  .flex.flex--space-around

    .col-1
      p Lorem ipsum
      .thumbnail-strip
      video.flex-video

    .col-1.order-first
      p.lead.outdented ...Here they come and they are great. this is to test the identation:
      a(href="http://freecodecamp.com/holic101").home-cta See yourself on FreeCodeCamp
