section.social#social
  .flex.flex--space-around

    .col-1
      a(href="http://github.com/Holic101").home-cta Fork or star me on Github
      a(href="http://twitter.com/@dkriworotow").home-cta Follow me on Twitter
      a(href="http://linkedin.com").home-cta Connect with me on LinkedIn

    .col-1.order-first
      p.lead.outdented ...you can star and fork my work at Github, follow me on Twitter or connect with me on LinkedIn...
