section.social#social
  .flex.flex--space-around

    .col-1
      a(href="http://github.com/Holic101" target="_blank").home-cta.fa.fa-4x.fa-github-square
      a(href="http://twitter.com/@dkriworotow" target="_blank").home-cta.fa.fa-4x.fa-twitter-square
      a(href="http://linkedin.com" target="_blank").home-cta.fa.fa-4x.fa-linkedin-square

    .col-1.order-first
      p.lead.outdented ...you can star and fork my work at Github, follow me on Twitter or connect with me on LinkedIn...
